@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  color: #555555;
  height: 100vh; }

.rectangle9Copy2 {
  border-radius: 0;
  width: 748px;
  height: 544px;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  color: #555555;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  text-transform: none;
  letter-spacing: 0px;
  margin: 0 auto; }
  .rectangle9Copy2 .group13 {
    margin-top: 14px;
    border: 2px solid green;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    width: 125.75px;
    height: 121px;
    color: #4386f5;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-transform: none;
    letter-spacing: 0px; }
    .rectangle9Copy2 .group13 .oval3 {
      border-radius: 48%;
      display: inline-block;
      position: absolute;
      top: 25px;
      left: 26px;
      width: 69px;
      height: 69px;
      background: #69DDCB;
      color: #4386f5;
      font-family: Karla;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      text-transform: none;
      letter-spacing: 0px; }
      .rectangle9Copy2 .group13 .oval3 .k {
        margin-left: 23px;
        width: 20px;
        height: 37px;
        color: #ffffff;
        font-family: Karla;
        font-size: 32px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 71px;
        text-align: center;
        text-transform: none;
        letter-spacing: 0px; }
  .rectangle9Copy2 .survey-container-mine {
    float: right;
    border: 1px solid green;
    margin-top: 29px;
    margin-right: 71px; }
    .rectangle9Copy2 .survey-container-mine .survey-question {
      width: 495px;
      height: 102px;
      color: #555555;
      font-family: Karla;
      font-size: 22px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      line-height: 34px;
      text-align: left;
      text-transform: none;
      letter-spacing: 0px;
      padding-left: 14px;
      margin-bottom: 40px; }
    .rectangle9Copy2 .survey-container-mine .survey-buttons {
      margin-left: 14px;
      margin-top: 25px; }
    .rectangle9Copy2 .survey-container-mine .survey-answer ul {
      margin-bottom: 32px; }
      .rectangle9Copy2 .survey-container-mine .survey-answer ul li {
        border: 2px solid pink;
        padding-left: 12px;
        padding-top: 6px;
        border-radius: 0;
        width: 470px;
        height: 50px;
        color: #555555;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        cursor: pointer; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li:hover {
          background: rgba(67, 134, 245, 0.1); }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li:hover i {
            display: none; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li a {
          width: 495px;
          height: 34px;
          color: #555555;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa1 {
          margin-left: 265px;
          color: #4386F5; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa2 {
          margin-left: 233px;
          color: #4386F5; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa3 {
          margin-left: 260px;
          color: #4386F5; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa4 {
          margin-left: 250px;
          color: #4386F5; }
    .rectangle9Copy2 .survey-container-mine .line-containerP {
      margin-bottom: 25px; }
      .rectangle9Copy2 .survey-container-mine .line-containerP .line4 {
        border-radius: 0;
        width: 462px;
        height: 2px;
        border: 5px solid #f2f2f2;
        color: #555555;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        border: 2px solid #f2f2f2; }
    .rectangle9Copy2 .survey-container-mine .survey-buttons {
      margin-left: 14px;
      margin-top: 25px; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question {
        width: 108px;
        height: 27px;
        color: #4386F5;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        text-decoration: none; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question:hover {
          font-weight: 700; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons .done {
        width: 38px;
        height: 27px;
        color: #4386F5;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        text-decoration: none;
        margin-left: 12px; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .done:hover {
          font-weight: 700; }

@media (min-width: 320px) {
  .rectangle9Copy2 {
    width: 275px;
    height: 500px; }
    .rectangle9Copy2 .group13 {
      width: 60.75px;
      height: 60.75px;
      margin-left: 94px;
      margin-bottom: 11px; }
      .rectangle9Copy2 .group13 .oval3 {
        top: 14px;
        left: 13px;
        width: 30px;
        height: 30px; }
        .rectangle9Copy2 .group13 .oval3 .k {
          line-height: 31px;
          margin-left: 5px;
          font-size: 18px; }
    .rectangle9Copy2 .survey-container-mine {
      float: right;
      border: 1px solid green;
      margin-top: -11px;
      margin-right: 0px;
      /* margin: -11px auto; */
      /* margin-left: -13px; */
      width: 273px;
      height: 411px; }
      .rectangle9Copy2 .survey-container-mine .survey-question {
        width: 258px;
        height: 98px;
        color: #555555;
        font-family: Karla;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        padding-left: 14px;
        margin-bottom: 32px; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 25px; }
      .rectangle9Copy2 .survey-container-mine .survey-answer ul {
        margin-bottom: 24px; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li {
          border: 2px solid pink;
          padding-left: 12px;
          padding-top: 6px;
          border-radius: 0;
          width: 100%;
          height: 50px;
          background: rgba(67, 134, 245, 0.1);
          color: #555555;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          cursor: pointer; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li:hover i {
            display: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li a {
            width: 495px;
            height: 34px;
            color: #555555;
            font-family: Karla;
            font-size: 15px;
            font-style: normal;
            font-stretch: normal;
            font-weight: 400;
            line-height: 34px;
            text-align: left;
            text-transform: none;
            letter-spacing: 0px;
            text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa1 {
            margin-left: 80px;
            color: #4386F5;
            font-size: 14px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa2 {
            margin-left: 51px;
            color: #4386F5;
            font-size: 14px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa3 {
            margin-left: 76px;
            color: #4386F5;
            font-size: 14px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa4 {
            margin-left: 67px;
            color: #4386F5;
            font-size: 14px; }
      .rectangle9Copy2 .survey-container-mine .line-container {
        margin-bottom: 17px; }
        .rectangle9Copy2 .survey-container-mine .line-container .line4 {
          border-radius: 0;
          width: 270px;
          height: 2px;
          border: 5px solid #f2f2f2;
          color: #555555;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          border: 2px solid #f2f2f2; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 16px; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question {
          width: 108px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question:hover {
            font-weight: 700; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .done {
          width: 38px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none;
          margin-left: 12px; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .done:hover {
            font-weight: 700; } }

@media (min-width: 375px) {
  .rectangle9Copy2 {
    width: 331px;
    height: 505px; }
    .rectangle9Copy2 .group13 {
      width: 64.75px;
      height: 64.75px;
      margin-left: 120px;
      margin-bottom: 8px; }
      .rectangle9Copy2 .group13 .oval3 {
        top: 15px;
        left: 14px;
        width: 32px;
        height: 32px; }
        .rectangle9Copy2 .group13 .oval3 .k {
          line-height: 33px;
          margin-left: 6px;
          font-size: 18px; }
    .rectangle9Copy2 .survey-container-mine {
      float: right;
      border: 1px solid green;
      margin-top: -4px;
      margin-right: 2px;
      width: 327px;
      height: 408px; }
      .rectangle9Copy2 .survey-container-mine .survey-question {
        width: 296px;
        height: 98px;
        color: #555555;
        font-family: Karla;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        padding-left: 14px;
        margin-bottom: 30px; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 25px; }
      .rectangle9Copy2 .survey-container-mine .survey-answer ul {
        margin-bottom: 28px; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li {
          border: 2px solid pink;
          padding-left: 12px;
          padding-top: 6px;
          border-radius: 0;
          width: 100%;
          height: 50px;
          background: rgba(67, 134, 245, 0.1);
          color: #555555;
          font-family: Karla;
          font-size: 15px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          cursor: pointer; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li:hover i {
            display: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li a {
            width: 495px;
            height: 34px;
            color: #555555;
            font-family: Karla;
            font-size: 17px;
            font-style: normal;
            font-stretch: normal;
            font-weight: 400;
            line-height: 34px;
            text-align: left;
            text-transform: none;
            letter-spacing: 0px;
            text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa1 {
            margin-left: 109px;
            color: #4386F5;
            font-size: 17px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa2 {
            margin-left: 75px;
            color: #4386F5;
            font-size: 17px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa3 {
            margin-left: 104px;
            color: #4386F5;
            font-size: 17px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa4 {
            margin-left: 94px;
            color: #4386F5;
            font-size: 17px; }
      .rectangle9Copy2 .survey-container-mine .line-container {
        margin-bottom: 13px; }
        .rectangle9Copy2 .survey-container-mine .line-container .line4 {
          border-radius: 0;
          width: 323px;
          height: 2px;
          border: 5px solid #f2f2f2;
          color: #555555;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          border: 2px solid #f2f2f2; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 16px; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question {
          width: 108px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 21px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question:hover {
            font-weight: 700; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .done {
          width: 38px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 21px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none;
          margin-left: 12px; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .done:hover {
            font-weight: 700; } }

@media (min-width: 768px) {
  .rectangle9Copy2 {
    margin-top: 156px;
    width: 579px;
    height: 544px; }
    .rectangle9Copy2 .group13 {
      width: 109.75px;
      height: 109.75px;
      margin-left: 14px;
      /* margin-bottom: 8px; */
      margin-top: 55px; }
      .rectangle9Copy2 .group13 .oval3 {
        top: 21px;
        left: 18px;
        width: 68px;
        height: 68px; }
        .rectangle9Copy2 .group13 .oval3 .k {
          line-height: 64px;
          margin-left: 21px;
          font-size: 41px; }
    .rectangle9Copy2 .survey-container-mine {
      float: right;
      border: 1px solid green;
      margin-top: 64px;
      margin-right: 2px;
      width: 420px;
      height: 477px; }
      .rectangle9Copy2 .survey-container-mine .survey-question {
        width: 417px;
        height: 98px;
        color: #555555;
        font-family: Karla;
        font-size: 33px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 400;
        line-height: 34px;
        text-align: left;
        text-transform: none;
        letter-spacing: 0px;
        padding-left: 14px;
        margin-bottom: 52px; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 25px; }
      .rectangle9Copy2 .survey-container-mine .survey-answer ul {
        margin-bottom: 34px; }
        .rectangle9Copy2 .survey-container-mine .survey-answer ul li {
          border: 2px solid pink;
          padding-left: 12px;
          padding-top: 9px;
          border-radius: 0;
          width: 100%;
          height: 54px;
          background: rgba(67, 134, 245, 0.1);
          color: #555555;
          font-family: Karla;
          font-size: 15px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          cursor: pointer; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li:hover i {
            display: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li a {
            width: 495px;
            height: 34px;
            color: #555555;
            font-family: Karla;
            font-size: 20px;
            font-style: normal;
            font-stretch: normal;
            font-weight: 400;
            line-height: 34px;
            text-align: left;
            text-transform: none;
            letter-spacing: 0px;
            text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa1 {
            margin-left: 161px;
            color: #4386F5;
            font-size: 20px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa2 {
            margin-left: 121px;
            color: #4386F5;
            font-size: 20px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa3 {
            margin-left: 154px;
            color: #4386F5;
            font-size: 20px; }
          .rectangle9Copy2 .survey-container-mine .survey-answer ul li .fa4 {
            margin-left: 143px;
            color: #4386F5;
            font-size: 20px; }
      .rectangle9Copy2 .survey-container-mine .line-container {
        margin-bottom: 13px; }
        .rectangle9Copy2 .survey-container-mine .line-container .line4 {
          border-radius: 0;
          width: 414px;
          height: 2px;
          border: 5px solid #f2f2f2;
          color: #555555;
          font-family: Karla;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          border: 2px solid #f2f2f2; }
      .rectangle9Copy2 .survey-container-mine .survey-buttons {
        margin-left: 14px;
        margin-top: 16px; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question {
          width: 108px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 24px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .next-question:hover {
            font-weight: 700; }
        .rectangle9Copy2 .survey-container-mine .survey-buttons .done {
          width: 38px;
          height: 27px;
          color: #4386F5;
          font-family: Karla;
          font-size: 24px;
          font-style: normal;
          font-stretch: normal;
          font-weight: 400;
          line-height: 34px;
          text-align: left;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none;
          margin-left: 12px; }
          .rectangle9Copy2 .survey-container-mine .survey-buttons .done:hover {
            font-weight: 700; } }
