$galaxy-s5: 320px;
$breakpoint-iphoneX: 375px;
$iphone6-7-8: 375px;
$mobile-medium: 378px;
$mobile-large: 408px;
$breakpoint-iphone6-7-8-plus: 414px;
$tablet: 768px;
$ipadpro: 1024px;
$laptop-normal: 1024px;
$laptop-large: 1440px;

$logo-Background-grey:#69DDCB;
$h2-header-color:#555555;
$light-blue: #4386F5;
